body {
  background-color: grey;
  /*color: goldenrod;*/
  /*text-align: center;*/
}
div {
  background-color: white;
  /*color: green; -- this color was stronger to the body color*/
}
a {
  color: red; /*!important; using to put priority on CSS*/
  font-size: 20px;
}
h1 {
  color: goldenrod;
  font-weight: 200;
  font-size: 50px;
}
/*.Classes have priority than tag, using for a group*/
.main-container {
  width: 1180px;
  min-height: 800px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}
.nav-link {
  color: #007cae;
  text-decoration: none;
  padding: 0px 5px;
}
/*Selectors: First/Last/Nth Child*/
.nav-link:first-child {
  padding-left: 10px;
  border-left: 1px solid #007cae;
}
.nav-link:last-child {
  padding-left: 10px;
  border-right: 1px solid #007cae;
}
/*Use the formatting 2 after 2 elements */
.nav-link:nth-child(2n) {
  background-color: #007cae;
  color: #fff;
  border-radius: 5px;
}
/* Use CSS on the 4 position */
/* .nav-link:nth-child(4) {
  background-color: #007cae;
  color: #fff;
  border-radius: 5px;
} */
/*CSS Hover*/
.nav-link:hover {
  color: #ccc;
  text-decoration: underline;
}
.nav-link-about {
  color: yellow;
}
.nav-link-contact {
  color: goldenrod;
}
.img-lk-hover:hover {
  opacity: 0.75;
}
.tb-pricing {
  font-size: 12px;
  width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
}
.tb-pricing th {
  font-size: 15px;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: lightslategray;
  padding: 10px 12px;
}
.tb-pricing td {
  text-align: end;
  border-right: 1px #ccc solid;
  border-left: 1px #ccc dashed;
  border-bottom: 1px #ccc solid;
  padding: 10px 12px;
  /*padding: 2px 20px 10px 30px*/
  /*padding: top right bottom left*/
  /*margin: top right bottom left*/
}
/*Selectors: First/Last/Nth Child*/
.tb-pricing tbody td:first-child {
  text-align: left;
  background-color: lightgreen;
}
.tb-pricing tbody td:last-child {
  text-align: center;
  background-color: lightsalmon;
}
.tb-pricing tbody tr:last-child td:nth-child(3) {
  background-color: lightcoral;
}
.tb-pricing tbody tr:nth-child(2n) {
  background-color: lightskyblue;
}
.tb-pricing tfoot td {
  font-size: 15px;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: lightslategray;
}
/*#Id have priority than Classes, using for a unique individual*/
#abt-nav-link {
  color: lightcoral;
}
